{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/cari_lowongan.css" %}'>
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>

    {% include 'import-bootstrap-jquery.html' %}
    <title>Cari Lowongan</title>
</head>
<body>

{% include 'navbar-no-bootstrap.html' %}

<div class="pg-container">
    <div class="row">
        <div class="col-sm">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Urutkan Berdasarkan :
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/cari-lowongan/sorting/waktu-magang/asc">Waktu Mulai Magang
                        [ascending]</a>
                    <a class="dropdown-item" href="/cari-lowongan/sorting/waktu-magang/desc">Waktu Mulai Magang
                        [descending]</a>
                    <a class="dropdown-item" href="/cari-lowongan/sorting/batas-akhir/asc">Batas Akhir Pendaftaran
                        [ascending]</a>
                    <a class="dropdown-item" href="/cari-lowongan/sorting/batas-akhir/desc">Batas Akhir Pendaftaran
                        [descending]</a>
                </div>

            </div>
        </div>

        <div class="col-sm">
            <form onsubmit="return searchFunc();">
                <input onsubmit="searchFunc()" id="search-box" type="text" placeholder="Cari Judul...">
                <input id="search-btn" onclick="searchFunc()" class="btn btn-primary" type="submit"/>
            </form>
        </div>
    </div>

    {% for i in data %}
        <div class="outer-box">
            <div class="row inner-box">
                <div class="col-2 col1">
                    <img src="{% static 'img/image 6.png' %}">
                    <p>Dinas Depok</p>
                </div>
                <div class="col-9 align-self-center col2">
                    <p id="judul-lowongan">{{ i.judul }}</p>
                    <p>Kategori: <br>{{ i.kategori }}</p>
                    <p>Batas Akhir Pendaftaran: <br>{{ i.batas_akhir_pendaftaran }}</p>
                </div>
                <div class="col-1 d-flex align-items-end flex-column col3">
                    <button onclick="window.location.href='/cari-lowongan/detail-lowongan/{{ i.id }}'" type="button"
                            class="btn btn-primary mt-auto">Lamar
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>

<script type="text/javascript">

    function searchFunc() {
        console.log("kesini");
        const search_word = $("#search-box").val();
        console.log(search_word)
        window.location.href = "/cari-lowongan/searching/" + search_word
        return false
    }
</script>

</html>