<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            #submit-btn {
                width: 100%
            }
        </style>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/static/css/navbar-no-bootstrap.css">

        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Form Pembuatan Lowongan</title>
    </head>
    <body>
        {% include 'navbar-no-bootstrap.html' %}
        <div class="container-fluid">
            <div class="row-12">
                {% if type_form == "post" %}
                    <form method="POST" action="{% url 'post_form_lowongan' %}">
                        {% csrf_token %}
                        <h1 class="admin-login-items">Formulir Pembuatan Lowongan Magang
                        </h1>
                        {{ form.as_p }}
                            <br>
                            <button type="submit" class="btn btn-primary">Posting Lowongan</button>
                        </form>
                    {% endif %}

                    {% if type_form == "update" %}
                        <form method="POST" action="{% url 'update_form_lowongan' form.instance.pk %}">
                            {% csrf_token %}
                            <h1 class="admin-login-items">Formulir Pembuatan Lowongan Magang
                            </h1>
                            {{ form.as_p }}
                                <br>
                                <button type="submit" class="btn btn-primary">Posting Lowongan</button>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </body>
        </html>
    </body>
    <script>
        let choices = {{choice_select_field|safe}}
        $( document ).ready(function() {
            $('.selectsingle').select2({placeholder: 'Select an option'});
            $('.selectpicker').val(choices);
            $('.selectpicker').trigger('change');
            $('.selectpicker').select2({tags: true, tokenSeparators: [',','.',';']});
        });

    </script>
</html>
