{% extends 'base.html' %}
{% load static %}
{% block head %}

    <title>User Login</title>
    <style>
        #submit-btn {
            width: 100%
        }

        .admin-login-items {
            margin-bottom: 2em;
        }

        #login-title {
            margin-bottom: 1em;
            margin-top: 1em;

        }
    </style>
{% endblock %}


<body>
{% block body %}

    {% include 'navbar-no-bootstrap.html' %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 align-self-center">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <form method="POST" action="{% url 'user_login' %}">
                    {% csrf_token %}
                    <h1 class="text-center" id="login-title">Masuk</h1>
                    <label>Email : </label>
                    {{ form.username }}
                    <label>Password : </label>
                    {{ form.password }}
                    <br>
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary admin-login-items" id="submit-btn">Submit</button>
                        <div style="margin-bottom: 3vh">
                            <h6>Atau</h6>
                        </div>
                        <div>
                            <a href="{% url 'social:begin' 'google-oauth2' %}" id="google_login">
                                <img src="{% static 'img/btn_google_sign_in.png' %}" style="width: 220px">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
{% endblock %}

</body>
</html>