<link rel="stylesheet" href="/static/css/navbar-no-bootstrap.css">



<!-- Widescreen Only -->
<div class="d-none d-sm-block">
    <div class="row" id="top-logo-row">
        <img id="masif-logo-pic" class="masif-logo" src="/static/img/image%201.png"/>
        <div id="masif-logo-separator" class="masif-logo"></div>
        <div id="masif-top-title" class="masif-logo">
            <h4>ADMIN MASIF </h4>
            <h5>Pemkot Depok</h5>
        </div>

    </div>
</div>
<!-- End Of Widescreen Only -->
{#<img id="masif-logo" src="/static/img/image%201.png">#}
<nav class="navbar navbar-expand-sm navbar-dark bg-masif-blue">
    <!-- Vertical Phone Only -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin' %}">Halaman Depan Admin<span class="sr-only">(current)</span></a>
            </li>

            <!-- Vertical Phone Only -->
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown d-block d-sm-none">
                    <a class="navbar-account nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ request.user.name }}
                        {% if request.user.is_opd %}

                            <span class="badge badge-primary">OPD</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout/">Keluar</a>
                    </div>
                </li>
            {% else %}
                <div class="d-block d-sm-none">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Daftar <span class="sr-only">(current)</span></a>
                    </li>
                    {#        <h1 style="color: white">heyyy</h1>#}</div>

            {% endif %}


            <!-- End of Phone Only -->

        </ul>

        {#        <h1 style="color: white">heyyy</h1>#}

        <!-- Widescreen Only -->
        {% if request.user.is_authenticated %}

            <div class="nav-item dropdown d-none d-sm-block">
                <a class="navbar-account nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ request.user.name }}

                    {% if request.user.is_admin %}

                        <span class="badge badge-warning" style="color: white">ADMIN</span>
                    {% endif %}

                </a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout/">Keluar</a>
                </div>
            </div>
        {% else %}
            <a class="nav-link" id="login-wide" href="/user/login/">Login<span class="sr-only">(current)</span></a>

            <a class="nav-link" id="daftar-wide" href="{% url 'user_register' %}">Daftar<span
                    class="sr-only">(current)</span></a>

        {% endif %}
        <!-- End Of Widescreen Only -->

    </div>
    <!-- END OF Vertical Phone Only -->
    <div class="navbar-brand d-block d-sm-none" href="#">
        {#        <img id="masif-logo" src="/static/img/image%201.png">#}

        MASIF

    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>