/*Smallest Screen width < 576px*/
#username {
    font-weight: bold;
    font-size: 1.5em;
}

#profile-picture-col {
    text-align: center;
}

.info-row-item {
    font-size: 1.2em;
}


#profile_picture {
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 200px;
    height: 200px;

}


.user-info-right-of-photo {
    font-size: 1.5em;

}

.widescreen-only {
    display: none;
}

.info-horizontal-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: lightgrey solid 1px;
}

#top-detail-wrapper {
    display: grid;
}

#top-detail-id {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
    font-size: 0.9em;
}

#top-detail-posisi, #top-detail-opd {
    font-weight: bold;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .widescreen-only {
        display: inline;
    }

    .phone-only {
        display: none;
    }

    .info-row-item {
        border-left: black solid thin;
        font-size: 1.2em;
    }

    #top-detail-wrapper {
        display: block;
    }

    #top-detail-id {
        color: rgba(0, 0, 0, 0.6);
        font-weight: bolder;
        font-size: 0.9em;
    }

    #top-detail-posisi {
        margin-left: 10px;
    }

    #top-detail-opd {
        border-left: #919191 solid thin;
        padding-left: 5px;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #user-info-col {
        text-align: left;
    }

    #profile_picture {
        object-fit: cover;
        object-position: center; /* Center the image within the element */
        width: 150px;
        height: 150px;

    }

    #info-row-item-phone {
        border-left: none;

    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

