.pg-container {
    padding: 5rem;
}

.outer-box {
    padding: 2rem;
}

.inner-box {
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.col1 {
    text-align: center;
    border-right-style: solid;
    border-right-width: thin;
}

.col1 img {
    margin-top: 5%;
}

#judul-lowongan {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.col3 .btn {
    margin-bottom: 15%;
    border-radius: 10px;
    width: 154px;
    height: 36px;
}