.card-lowongan-kantor {
    margin-top: 4px;
}

.card-lowongan-judul-lowongan {
    overflow: hidden;
    margin-top: 10px;
    font-weight: bolder;
    margin-bottom: 0;
}


.card-lowongan-kategori {
    line-height: 1;
    /*margin-top: 20px;*/
}

#lowongan-magang-terbaru-title-wrapper {
    margin: 20px;
}

.slick-slide {
    height: 150px !important;
}

.slick-prev:before, .slick-next:before {
    color: #4f4f4f !important;
}

.card-lowongan-img {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.card-lowongan-landing {
    padding: 20px;
    width: 250px;
    border: black solid thin;
    border-radius: 5px;
    margin: 15px;
}

.img-row {
    height: 80px;
}


.footer-landing {

    /*height: 50px;*/
    /*padding-top: 1px;*/
    /*padding-left: 20px;*/
    color: white;
    /*height: 100px;*/
    background-color: #005371;
}

#diskominfo-text-footer {
    font-weight: bolder;
}

.footer-row {
    margin: 0;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}