{% extends 'admin/admin_base.html' %}
{% block head %}
    <style>
        #admin-masif-title {
            text-align: center;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        .btn-lg {
            width: 100%;
            height: 15vh;
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 2em;
        }

    </style>
    <title>ADMIN Page</title>
{% endblock %}

{% block admin_body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align-self-center">
                <h1 id="admin-masif-title">Admin MASIF</h1>

                <div class="row justify-content-center tombol">
                    <button onclick="window.location.href='#'" type="button" class="btn btn-primary btn-lg">Tambahkan
                        Informasi Magang
                    </button>
                </div>
                <div class="tombol row justify-content-center">
                    <button onclick="window.location.href='/admin/listopd/'" type="button"
                            class="btn btn-primary btn-lg">
                        Buat Akun OPD
                    </button>
                </div>
                <div class="tombol row justify-content-center">
                    <button onclick="window.location.href='/lowongan/admin/form/edit-kategori/'" type="button" class="btn btn-primary btn-lg">
                        Tambahkan Kategori Lowongan
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>