{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/cari_lowongan.css" %}'>

    <style>
        .opd-logo {
            width: 120px;
            height: 120px;
        }

        #container-dashboard-opd {
            margin-top: 1em;
        }
    </style>

    <title>OPD Dashboard</title>
    {% endblock %}
</head>
<body>
{% block body %}
{% include 'navbar-no-bootstrap.html' %}
<div class="container" id="container-dashboard-opd">
    <div class="row">
        <div class="col">
            <div class="row">
                <div><img class="opd-logo" src="https://www.pmidpi.com/wp-content/uploads/2015/07/person-placeholder.jpg"></div>
                <div class="col">
                    <h3>{{ user.name }}</h3>
                    <h5>Pemerintah Kota Depok</h5>
                    {{ user.phone }}<br>
                    {{ user.email }}

                </div>
            </div>
        </div>
        <div class="col">

            <div class="row justify-content-end">
                <a href='/lowongan/opd/form/'>
                    <button class="btn btn-primary">Buat Lowongan Baru</button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="pg-container">

{% for each in list_lowongan reversed %}
<div class="outer-box">
        <div class="row inner-box">
            <div class="col-2 col1">
                <img src="{% static 'img/image 6.png' %}">
                
            </div>
            <div class="col-9 align-self-center col2">
                <p id="judul-lowongan">{{ each.judul }}</p>
                <p>{{ each.kategori }}</p>
                <p>Jumlah pelamar : {{each.list_pendaftar_key.count}}</p>
            </div>
            <div class="col-1 d-flex align-items-end flex-column col3">
            <pre>

                <a href="/opd/lowongan/list-pendaftar-{{each.id}}/"  class="btn btn-primary mt-auto">Lihat pelamar</a>
                <a href="/opd/lowongan/detail-{{each.id}}/"  class="btn btn-primary mt-auto">Detail Lowongan</a>
            </pre>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
</body>
</html>
