{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>


</style>
<head>
  {% block head %}
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href='{% static "/css/landing.css" %}'>
      <title>Detail Lowongan</title>
      
{% endblock %}
</head>
<body>
{% block body %}
{% include 'navbar-no-bootstrap.html' %}

<br><br>
<div class="container" id="container-dashboard-opd">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1>{{ lowongan.judul }}</h1>
                    <br>
                    {{ lowongan.kategori}}

                </div>
            </div>
        </div>
        <div class="col">

        
            <div class="row justify-content-end">
                <a href="/opd/lowongan/list-pendaftar-{{lowongan.id}}/" >
                    <button type="button" class="btn btn-primary mt-auto">Lihat pelamar</button>
                </a>
            </div>
        </div>
    </div>
</div>
<hr width="90%">
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-8" style="text-align: left">
            <b id="bold-text">Deskripsi Job</b>
            <p>  {{lowongan.deskripsi}}  </p>
        </div>
        <div class="col-4" style="text-align: left"><br>
            <b id="bold-text">Detail</b>
            <p id ='demo'>{{lowongan.is_lowongan_masih_berlaku}}</p>
            <p> Tenaga yang dibutuhkan :{{ lowongan.kuota_peserta}}<br>
                Waktu mulai  magang : {{ lowongan.waktu_awal_magang}}<br>
                Waktu akhir magang : {{ lowongan.waktu_akhir_magang}}
            </p>
            <a href='/lowongan/opd/form/edit/{{lowongan.id}}/'>
            <button type="button" class="btn btn-primary mt-auto">Edit Lowongan</button>
            </a>
            <a href='/opd/lowongan/buka-tutup/{{lowongan.id}}/'>
            <button type="button" id = 'tutup' class="btn btn-primary mt-auto">Tutup Lowongan</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <b id="bold-text">Requirement :</b>  <br>
        
            {{lowongan.requirement}}<br>
            
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <b id="bold-text">Berkas :</b>  <br>
        {% for each in lowongan.berkas_persyaratan  %}
            {{each}}<br>
            {% endfor %}
            </p>
        </div>
    </div>
<script>
var demo =document.getElementById('demo');
var button =document.getElementById('tutup');
var text = 'Status lowongan :  '
if(demo.innerHTML.localeCompare('True') == 0){
    demo.innerHTML = text + 'Aktif';
    button.innerHTML = 'Tutup Lowongan';
}
else{
    demo.innerHTML = text + 'Tutup';
    button.innerHTML = 'Buka Lowongan';
}
</script>
</div>
{% endblock %}
</body>
</html>

         
         
           
            
             