<!DOCTYPE html>
<html lang="en">
<head>


    {% include 'import-bootstrap-jquery.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masif - Magang Intensif</title>
    {% block head %}
    {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>