{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/detail_lowongan.css" %}'>
    {% include 'import-bootstrap-jquery.html' %}
    <title>Detail Lowongan</title>
</head>
<body>

{% include 'navbar-no-bootstrap.html' %}

{% for i in data %}
    <div class="pg-container">
        <div class="outer-box">
            <div class="row inner-box">
                <div class="col-2 col1">
                    <img src="{% static 'img/image 6.png' %}">
                    <p>Dinas Depok</p>
                </div>
                <div class="col-9 align-self-center col2">
                    <p id="judul-lowongan">{{ i.judul }}</p>
                    <p>{{ i.kategori }}</p>
                    <p>{{ i.batas_akhir_pendaftaran }}</p>
                </div>
                <div class="col-1 d-flex align-items-end flex-column col3">
                    <button type="button" class="btn btn-primary mt-auto disabled">Lamar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8" style="text-align: left">
                <b id="bold-text">Deskripsi Job</b>
                <p>{{ i.deskripsi }}</p>
            </div>
            <div class="col-4" style="text-align: left">
                <b id="bold-text">Detail</b>
                <p>Tenaga yang dibutuhkan : {{ i.kuota_peserta }}<br>
                    Durasi magang : {{ i.waktu_awal_magang }} - {{ i.waktu_akhir_magang }}
                </p>
                <button onclick="window.location.href='/lowongan/user/lamar/{{ i.id }}'" type="button" class="btn btn-primary mt-auto">Lamar Sekarang</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b id="bold-text">Syarat</b>
                <p>
                    {{ i.requirement }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}

</body>
</html>