{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href='{% static "/css/landing.css" %}'>

        <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
        <script type="text/javascript" src="/static/slick/slick.min.js"></script>
        <title>Beranda</title>
    {% endblock %}

</head>
<body>
{% block body %}
    {% include 'navbar-no-bootstrap.html' %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/img/img3.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/img2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/img4.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">


        <div class="row justify-content-center text-center" id="lowongan-magang-terbaru-title-wrapper">
            <h2>Lowongan Magang Terbaru</h2>
        </div>

        <div class="magang-terbaru-autoplay" style="margin: 20px">
            {% for item in lowongans %}
                <a href="/cari-lowongan/detail-lowongan/{{ item.id }}" class="card-lowongan-landing nostyle">

                    <div class="row img-row">
                        <div class="col-3">
                            <img class="card-lowongan-img" src="{% static 'img/Ellipse 14.png' %}">
                        </div>
                        <div class="col-9">
                            <h6 class="card-lowongan-judul-lowongan">{{ item.judul }}</h6>
                            <h6 class="card-lowongan-kantor">Diskominfo</h6>
                        </div>
                    </div>
                    <p class="card-lowongan-kategori">{{ item.kategori }}</p>

                </a>
            {% endfor %}


        </div>
        <br>
        <br>
        <br>


    </div>
    <div class="footer-landing">

        <div class="row footer-row justify-content-center">
            <div class="col-12 text-center" id="diskominfo-text-footer">Diskominfo Depok 2020</div>
            <div class="col-12 text-center">Telepon : 021 12345</div>


        </div>


    </div>




    <script>
        $(document).ready(function () {


            $('.magang-terbaru-autoplay').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 990,
                        settings: {
                            center: true,
                            autoplay: true,
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 745,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });


    </script>

{% endblock %}

</body>
</html>
